body {
  background-color: #ffffbf;
  color: #abd9e9;
  text-align: center;
}
h1 {
  color: #2c7bb6;
}
/*
Colorblind safe color palette fromo colorbrewer2.org.
#d7191c - Red
#fdae61 - Orange
#ffffbf - Off Yellow
#abd9e9 - Light Blue
#2c7bb6 - Blue
*/

body {
  background-color: #92c5de;
  color: #0571b0;
  text-align: center;
  margin: 0;
}

h1 {
  color: #f7f7f7;
  padding: 5px;
  margin: 0;
}
#body-container {
  background-color:f7f7f7;
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  border: 2px solid #f7f7f7;
  border-radius: 25px;
  overflow: hidden;
}
#header {
  border-color: #0571b0;
}
#profile-picture {
}
#welcome-text {
}
#research-interests {
}
